table {
    border-collapse: collapse;
}


#header-cell {
    display: flex;
    justify-content: space-between;
}


/* TOGGLE SWITCH */
.switch {
    /* position: relative; */
    display: inline-block;
    width: 60px;
    height: 34px;

    position: absolute;
    margin-top: -6px;
    margin-left: 105px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* TOGGLE SWITCH */

/* NAV BUTTONS */

.nav-item {
    background-color: red;
    margin-bottom: 29px;
    border-radius: 7px;
    width: 93px;
    height: 95px;
    text-align: center;
    padding-top: 35px;
    color: white;
    cursor: pointer;
    margin-left: -7px;
}

.nav-item:active {
    color: red;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

.navBtn {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.navBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.navBtn span:after {
    content: '\21a9';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.5s;
}

.navBtn:hover span {
    padding-right: 25px;
}

.navBtn:hover span:after {
    opacity: 1;
    right: 0;
}

/* NAV BUTTONS */


.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fixTableHead {
    overflow-y: auto;
    overflow-x: auto;
    height: 685px;
}

.fixTableHead  thead    th {
    position: sticky;
    top: 0;

}


.fixTableHead .stickyCell1  {
    position: sticky;
    background: #ABDD93;
    left: 0;
    border: 2px solid #529432;
}

.fixTableHead .stickyCell2  {
    position: sticky;
    background: #ABDD93;
    left: 111px;
    border: 2px solid #529432;
}


.fixTableHead  table {
    border-collapse: collapse;
    width: 100%;
}

.fixTableHead   th    {
    padding: 8px 15px;
    border: 2px solid #529432;
}

.fixTableHead   td   {
    padding: 8px 15px;
    border: 2px solid #529432;
}

.fixTableHead  th {
    background: #ABDD93;
}